*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}

:root {
  --dark-blue: #30398c;
  --purple: #59308c;
  --light-purple: #7f88e6;
  --dark-green: #308c83;
  --gray: #473b1a;
  --brown: #47241a;

  scroll-padding-top: 50px;
  scroll-behavior: auto;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  background: linear-gradient(270deg, var(--dark-green), var(--light-purple));
  width: 100%;
  height: max-content;
  padding: 1rem;
  box-shadow: 5px 15px 30px rgba(0, 0, 0, 0.05);
  z-index: 1000;
  font-family: 'Lato', sans-serif;
}

#navbar ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#navbar ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem 0;
}

#navbar ul li a {
  padding: 0.5rem 1rem;
  background: black;
  color: white;
  border: none;
  border-radius: 5px;
  box-shadow: 5px 15px 30px rgba(0, 0, 0, 0.05);
  transition: all 0.2s;
}

#navbar ul li a:hover {
  background: var(--dark-blue);
}

main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f5f5f5;
}

#welcome-section {
  width: 100%;
  height: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Lato', sans-serif;
}

#welcome-section h1 {
  color: black;
  font-size: 3rem;
  padding: 1rem;
}

#welcome-section span {
  padding: 1rem;
  font-size: 1.5rem;
  font-style: italic;
  color: var(--dark-blue);
}

#welcome-section p {
  font-size: 1.2rem;
}

#projects {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-family: 'Lato', sans-serif;
}

#projects h2 {
  padding: 2rem;
  color: var(--dark-blue);
  font-size: 2.5rem;
}

#projects-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.project-tile {
  width: 20rem;
  height: 25rem;
  margin: 0 2rem 4rem;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 5px 15px 30px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: all 0.2s;
}

.project-tile:hover {
  transform: scale(1.05);
}

.project-tile .image {
  width: 100%;
  height: 100%;
}

.project-tile .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.project-tile .content {
  width: 100%;
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  border-top: 3px solid var(--dark-blue);
}

.project-tile .content h3 {
  font-size: 1.5rem;
  color: var(--dark-blue);
}

.project-tile .content p {
  color: black;
  font-size: 1.1rem;
}

.project-tile .content a {
  padding: 0.5rem 1rem;
  background: var(--dark-green);
  color: white;
  border: none;
  border-radius: 5px;
  box-shadow: 5px 15px 30px rgba(0, 0, 0, 0.05);
  transition: all 0.2s;
}

.project-tile .content a:hover {
  background: #41c3b6;
}

#contacts {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

#contacts h2 {
  color: var(--dark-blue);
  margin-bottom: 2rem;
  font-size: 2.5rem;
  font-family: 'Lato', sans-serif;
}

#contacts p {
  color: black;
  margin-bottom: 2rem;
  font-size: 1.2rem;
  font-style: italic;
  font-family: 'Lato', sans-serif;
}

#profile-link {
  font-size: 3rem;
  color: var(--dark-blue);
  transition: all 0.2s;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border-radius: 5px;
}

#profile-link span {
  font-family: 'Lato', sans-serif;
  font-size: 1.5rem;
  padding: 0.5rem;
  transition: all 0.2s;
}

#profile-link:hover {
  background: rgba(0, 0, 0, 0.9);
  color: var(--light-purple);
  box-shadow: 5px 15px 30px rgba(0, 0, 0, 0.1);
  transform: scale(1.05);
}

footer {
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  border-top: 5px solid var(--dark-blue);
  font-family: 'Lato', sans-serif;
}

footer span {
  color: var(--dark-blue);
  font-size: 1.5rem;
}

footer p {
  font-size: 0.8rem;
}

@media (max-width: 728px) {
  html {
    font-size: 93.75%;
  }
}